body {
  font-family: Arial, Helvetica, sans-serif;
  font-family: 'Open Sans', sans-serif;
  margin: 0;  
  width:100%; 
  text-align:center;
  
  background-color: #271307;
  background-repeat: no-repeat;  
  background-position: center;
  background-attachment: fixed;

}
table {
  border-collapse: collapse;
}

/* td { border: 0px solid #b15825; } */
td { border: 1px solid #b15825;
    border-spacing: 0px}
td img{
  width: 100px;
  height: 100px;
}
.bordertable
{
  background:white;
  width:750px;
  border-radius:6px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border: #b15825 4px solid; 
}
/* row for politicians running form a specific office*/
.prow {
  display: -ms-flexbox; 
  display: flex;
  -ms-flex-wrap: wrap; 
  flex-wrap: wrap;
  padding: 0 4px;
}
/* politician image in a column */
.pcolumn {
  -ms-flex: 24%; 
  flex: 24%;
  max-width: 25%;
  padding: 0 4px;
}
.pcolumn img {
  margin-top: 8px;
  vertical-align: middle;}
.poldiv{
  margin-top: 8px;
  text-align: center;
  vertical-align: middle;
  background-color: #b15825;  
  width:100%;  opacity: 0.8;
  filter: alpha(opacity=50); 
  color:#fff;
  min-height: 250px;
}  
.blockH4{
  opacity: 0.8;
  filter: alpha(opacity=50);
  
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none
}
.borderbox{
  background:white;
  width:300px;
  border-radius:6px;
  margin-top: 20%;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  padding:0px 0px 70px 0px;
  border: #271307 4px solid; 
}
.btnlogin {
  /* display: inline; */
  background:#2ecc71;
  max-width:120px;
  padding-top:5px;
  padding-bottom:5px;
  margin-left: 10px;
  color:white;
  border-radius:4px;
  border: #27ae60 1px solid; 
  -ms-flex: 25%;  
  flex: 25%;
}


.btnregister {
  /* display: inline; */
  float:right;
  background:#3498db;
  max-width:120px;  
  padding-top:5px;
  padding-bottom:5px;
  color:white;
  border-radius:4px;  
  border: #2980b9 1px solid;
  -ms-flex: 25%;  
  flex: 25%;
  margin-right: 10px;
}
/*Display navigation bar and dropdown menu*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #b15825;
}
li {
  float: left;
  border-right:1px solid #bbb;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover{
        color: #fff;
        background: #939393;
 }
ul li ul.dropdown{
    min-width: 100%; /* Set width of the dropdown */
     background: #000000;
    display: none;
   position: absolute;
   z-index: 999;
    left: 0;
  }
 ul li:hover ul.dropdown{
   display: block; /* Display the dropdown */
    }
    ul li ul.dropdown li{
        display: inline-block;
    }

    .duobuttons {
      display: flex;
      justify-content: space-evenly;
      
      padding: 10 4px;
     
  }
.username{
  background:#ecf0f1;
  border: #ccc 1px solid;
  border-bottom: #ccc 2px solid;
  padding: 8px;
  width:250px;
  color:#AAAAAA;
  margin-top:10px;
  font-size:1em;
  border-radius:4px;
}

.password{
  border-radius:4px;
  background:#ecf0f1;
  border: #ccc 1px solid;
  padding: 8px;
  width:250px;
  font-size:1em;
}

.borderedbox{
  background:white;
  width:450px;
  border-radius:6px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border: #b15825 4px solid; 
}
button:hover {
  opacity: 0.8;
}
.inputheight{
  height:auto;
  margin-top: 10px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* resizing as per screen */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  
}